<div class="contet" id="donate-sum">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Gesamt Spende</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>