<!DOCTYPE html>
<
<html>
<head>
<title>Arialogic | Pages | Gallery</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../public/layout.css"  rel="stylesheet" type="text/css" media="all">
<link href="../../public/lightbox.css" rel="stylesheet">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="gallery">Galerie</a></li>
          <li><a href="comment">Feedback/Kommentar</a></li>
          <li><a href="spenden">Spenden</a></li>
          <li><a href="anmelden">Anmelden</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">World Wide Green </a></h1>
        <br>
        <p>Green for everyone!</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <ul class="nospace clear">
            <a href="../../public/images/demo/panda.jpg" data-lightbox="show-1" data-title="Panda">
            <li class="one_third first"><img src="../../public/images/demo/panda.jpg"></a></li>
          </a>
          <a href="../../public/images/demo/Natur2014Bild2.jpg" data-lightbox="show-1" data-title="Tiger">
              <li class="one_third"><img src="../../public/images/demo/Natur2014Bild2.jpg"></a></li>
            </a>
            <a href="../../public/images/demo/Natur2014Bild3.jpg" data-lightbox="show-1" data-title="Elefant">
              <li class="one_third"><img src="../../public/images/demo/Natur2014Bild3.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/Natur2014Bild4.jpg" data-lightbox="show-1" data-title="Forscher">
              <li class="one_third first"><img src="../../public/images/demo/Natur2014Bild4.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/Natur2014Bild5.jpg" data-lightbox="show-1" data-title="Kleiner Frosch">
              <li class="one_third"><img src="../../public/images/demo/Natur2014Bild5.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/HoheSeeErstesBild.jpg" data-lightbox="show-1" data-title="Krabbe">
              <li class="one_third"><img src="../../public/images/demo/HoheSeeErstesBild.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/HoheSee2BildReal.jpg" data-lightbox="show-1" data-title="Hohe See">
              <li class="one_third first"><img src="../../public/images/demo/HoheSee2BildReal.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/HoheSee3.jpg" data-lightbox="show-1" data-title="Fisch">
              <li class="one_third"><img src="../../public/images/demo/HoheSee3.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/bol1.jpg" data-lightbox="show-1" data-title="Dorf in Bolivien">
              <li class="one_third"><img src="../../public/images/demo/bol1.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/bol2.jpg" data-lightbox="show-1" data-title="Schule in Bolivien">
              <li class="one_third first"><img src="../../public/images/demo/bol2.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/KazaBild1.jpg" data-lightbox="show-1" data-title="Elefantenfamilie in Kaza">
              <li class="one_third"><img src="../../public/images/demo/KazaBild1.jpg" alt=""></a></li>   
            </a>       
            <a href="../../public/images/demo/Bild2Elefant.jpg" data-lightbox="show-1" data-title="Elefant in Kaza">
              <li class="one_third"><img src="../../public/images/demo/Bild2Elefant.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/kazaBild3Real.jpg" data-lightbox="show-1" data-title="Kaza Karte">
              <li class="one_third first"><img src="../../public/images/demo/kazaBild3Real.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/BauBild4.2.jpg" data-lightbox="show-1" data-title="Bau am Fluss">
              <li class="one_third"><img src="../../public/images/demo/BauBild4.2.jpg" alt=""></a></li>
            </a>
            <a href="../../public/images/demo/BauBild4.jpg" data-lightbox="show-1" data-title="Unberührte Natur">
              <li class="one_third"><img src="../../public/images/demo/BauBild4.jpg" alt=""></a></li>
            </a>
          </ul>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Impressum</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            Poststraße 12, Stuttgart, 70173
            </address>
          </li>
          <li><i class="fa fa-phone"></i> Fax<br>
            +49 176 123 45678</li>
          <li><i class="fa fa-fax"></i> Hotline<br>
             +49 176 123 45678</li>
          <li><i class="fa fa-envelope-o"></i> E-Mail<br>
            info@worldwidegreen.de</li>
          </address>
        </li>
      </ul>
    </div>
    
    <div class="one_quarter">
      <h6 class="title">Newsletter Abonnieren</h6>
      <p class="btmspace-30">Bleiben Sie immer auf dem neuesten Stand.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="title">Soziale Netzwerke</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.instagram.com/worldwidegreenhft/" target="_blank">Instagramm </a></h2> 
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="https://www.facebook.com/" target="_blank">Facebook</a></h2>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../../public/lightbox.js"></script>
<!-- IE9 Placeholder Support -->
<script src="../layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>